.f-b{font-weight: bold;}
.f-6em{font-size:0.6em;}
.f-7em{font-size:0.7em;}
.f-9em{font-size:0.9em;}
.m-r3{margin-right: 55px !important;}
.w-24i{width:24% !important}
.bg-ddd{background-color:#ddd;}
.hidde{display:none;}
